<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/Favicon.png" type="image/x-icon">
    <meta name="title" content="Home - Sarajuddin Portfolio" />
    <meta name="description" content="Welcome to Sarajuddin's Portfolio. Full-Stack Web Developer. Web Desinging, Python Developer" />
    <meta name="keywords" content="sarajuddin portfolio, sarajuddin kasgar portfolio, sarajuddin, saraju portfolio, portfolio, full stack developer, personal portfolio lifecodes, portfolio design, portfolio website, personal portfolio, portfolio samples, django portfolio, best design portfolio" />
    <meta name="copyright" content="Copyright © 2023 Sarajuddin-Portfolio All Rights Reserved." />
    <meta ame="author" content="Sarajuddin Kasgar" />
    <!-- <meta http-equiv="refresh" content="5; url=http://www.tutorialspoint.com" /> -->
    <title>Portfolio - Sarajuddin</title>
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Above First Section Starts -->
    <div class="aboveFirst">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex py-1">
                    <div class="px-1 mx-1 up-link">
                        <a href="https://www.linkedin.com/in/sarajuddin-8481b0203/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <div class="px-1 mx-1 up-link">
                        <a href="https://github.com/Sarajuddin" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                    <div class="px-1 mx-1 up-link">
                        <a href="https://www.hackerrank.com/saraju8604?hr_r=1" target="_blank"><i class="fa-brands fa-hackerrank"></i></a>
                    </div>
                    <div class="px-1 mx-1 up-link">
                        <a href="https://twitter.com/Sarajuddin01" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-md-end py-1">
                    <div class="email">
                        <a href="mailto:saraju.work@gmail.com" class="text-white fw-bold"><i class="fa-solid fa-envelope"></i> saraju.work@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Above First Section Ends -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg my-nav sticky-top">
        <div class="container">
            <a class="navbar-brand h2 text-white fw-bold me-lg-5" href="#"><i class="fa-brands fa-skype" title="Sarajuddin Kasgar"></i><i class="fa-brands fa-kickstarter-k red" title="Sarajuddin Kasgar"></i> Port<span class="red">folio</span></a>
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#education">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- First Section Starts -->
    <div class="first" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-6 my-name text-white">
                    <h2 class="fw-bold">Hello, I'm Sarajuddin</h2>
                    <p class="h4 fw-bold">I Am Into <span class="typing-text red fw-bold"></span></p>
                    <a href="#about" class="badge rounded-pill my-4 my-arrow">
                        About Me <i class="fa-solid fa-arrow-down"></i>
                    </a>
                </div>
                <div class="col-md-6">
                    <img src="/static/images/unnamed.gif" alt="" width="100%" loading="lazy" draggable="false">
                </div>
            </div>
        </div>
    </div>
    <!-- First Section Ends -->
    
    <!-- About Section Starts -->
    <section class="about py-5" id="about">
        <div class="container text-white">
            <div class="text-center pt-4">
                <h2 class="fw-bold"><i class="fa-solid fa-person-circle-check"></i> About <span class="red">Me</span></h2>
            </div>
            <div class="row">
                <div class="col-md-6 mb-5">
                    <img src="/static/images/IMG_8266-removebg-preview.png" width="80%" loading="lazy" draggable="false">
                </div>
                <div class="col-md-6 mb-5 pt-5">
                    <div>
                        <h1 class="fw-bold">I'm Sarajuddin</h1>
                        <small class="fw-bold">Full Stack Developer</small>
                    </div>
                    <div class="my-4">
                        <p class="myIntro">
                            I am a Full-Stack developer based in Uttar Pradesh, India. I have done my graduation in <span class="red fw-bold">Computer Scince and Engineering</span> from KSVCEM, Bijnor which is affiliated to Dr. APJ Abdul Kalam Technical University Lucknow, Uttar Pradesh. <br/>
                            I am very passionate about improving my coding skills & developing applications & websites. I build WebApps and Websites using Python, HTML, CSS, Django, Javascript. I am working for myself to improve my skills. Love to build Full-Stack web apps.
                        </p>
                        <p>
                            <span class="blue fw-bold">Email</span> : saraju.work@gmail.com <br>
                            <span class="blue fw-bold">Place</span> : Bijnor, Uttar Pradesh, India
                        </p>

                        <a href="#" target="_blank" class="badge rounded-pill my-arrow">
                            Resume <i class="fa-solid fa-caret-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section Ends -->

    <!-- Education Section Starts -->
    <section class="education py-5" id="education">
        <div class="container text-white">
            <div class="text-center pt-4">
                <h2 class="fw-bold"><i class="fa-solid fa-graduation-cap"></i> My <span class="red">Education</span></h2>
                <small>Education is not the learning of facts, but the training of the mind to think.</small>
            </div>

            <div class="row my-3 bg-light rounded-2 g-0 college text-black">
                <div class="col-md-4 college-img">
                    <img src="/static/images/Vira College.webp" width="100%" class="rounded-start" loading="lazy" draggable="false">
                </div>
                <div class="col-md-8 p-3 ps-md-5">
                    <h3 class="fw-bold">B.Tech in CSE</h3>
                    <p>Kunwar Satya Vira COllege of Engineering and Management, Bijnor</p>
                    <h5 class="fw-bold text-success">76.5% | 2019-2023 | Completed</h5>
                </div>
            </div>

            <div class="row my-3 bg-light rounded-2 g-0 college text-black">
                <div class="col-md-4 college-img">
                    <img src="/static/images/12th School Image.avif" width="100%" class="rounded-start" loading="lazy" draggable="false">
                </div>
                <div class="col-md-8 p-3 ps-md-5">
                    <h3 class="fw-bold">Class XII in PCM</h3>
                    <p>Adarsh Vidhya Niketan Inter College Taharpur</p>
                    <h5 class="fw-bold text-success">70.6% | 2017-2019 | Completed</h5>
                </div>
            </div>

            <div class="row my-3 bg-light rounded-2 g-0 college text-black">
                <div class="col-md-4 college-img">
                    <img src="/static/images/10th School Image.avif" width="100%" class="rounded-start" loading="lazy" draggable="false">
                </div>
                <div class="col-md-8 p-3 ps-md-5">
                    <h3 class="fw-bold">High School in Science</h3>
                    <p>Krishak Bharti Inter College Bhojpur</p>
                    <h5 class="fw-bold text-success">75.8% | 2015-2017 | Completed</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- Education Section Ends -->

    <!-- Skills Section Starts -->
    <section class="skills py-3" id="skills">
        <div class="container text-white">
            <div class="skill-head text-center my-5">
                <h2 class="fw-bold"><i class="fa-solid fa-code"></i> My <span class="red">Skills</span></h2>
            </div>

            <div class="row my-5">
                <div class="col-md-6 pe-md-5 skills-text">
                    <h4 class="fw-bold">My creative skills & experience</h4>
                    <p>During my time as a student I have been able to develop the way I learn and interact with others to a degree that has also helped me to mature into a better person. I have come to believe that this maturity will help me to develop into a better thinker as well, one that has the patience to listen and take consideration of what others have to say. </p>
                </div>
                <div class="col-md-6 text-black">
                    <div class="progress fw-bold mb-3" style="height: 30px; font-size: 16px;">
                        <span class="label">85%</span>
                        <div class="progress-bar text-start ps-3 bg-danger rounded-end-3 html" style="width: 85%; height: 30px;">HTML</div>
                    </div>
                    <div class="progress fw-bold mb-3" style="height: 30px; font-size: 16px;">
                        <span class="label">75%</span>
                        <div class="progress-bar text-start ps-3 bg-danger rounded-end-3 css" style="width: 75%; height: 30px;">CSS</div>
                    </div>
                    <div class="progress fw-bold mb-3" style="height: 30px; font-size: 16px;">
                        <span class="label">65%</span>
                        <div class="progress-bar text-start ps-3 bg-danger rounded-end-3 javascript" style="width: 65%; height: 30px;">Javascript</div>
                    </div>
                    <div class="progress fw-bold mb-3" style="height: 30px; font-size: 16px;">
                        <span class="label">80%</span>
                        <div class="progress-bar text-start ps-3 bg-danger rounded-end-3 python" style="width: 80%; height: 30px;">Python</div>
                    </div>
                    <div class="progress fw-bold mb-3" style="height: 30px; font-size: 16px;">
                        <span class="label">65%</span>
                        <div class="progress-bar text-start ps-3 bg-danger rounded-end-3 django" style="width: 65%; height: 30px;">Django</div>
                    </div>
                    <div class="progress fw-bold mb-3" style="height: 30px; font-size: 16px;">
                        <span class="label">60%</span>
                        <div class="progress-bar text-start ps-3 bg-danger rounded-end-3 mysql" style="width: 60%; height: 30px;">MySQL</div>
                    </div>
                    <div class="progress fw-bold mb-3" style="height: 30px; font-size: 16px;">
                        <span class="label">75%</span>
                        <div class="progress-bar text-start ps-3 bg-danger rounded-end-3 bootstrap" style="width: 75%; height: 30px;">Bootstrap</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Skills Section Ends -->

    <!-- Project Section Starts -->
    <section class="projects py-5" id="projects">
        <div class="container text-white">
            <div class="project-head text-center mb-5 pt-3">
                <h2 class="fw-bold"><i class="fa-solid fa-diagram-project"></i> Projects <span class="red">Made</span></h2>
            </div>

            <div class="row ">
                <div class="col-md-4 my-3 ">
                    <div class="card border-0">
                        <img src="https://i.pinimg.com/originals/cc/b2/9a/ccb29aadc3680b839bf05da2af2fef75.gif" class="card-img-top" loading="lazy" draggable="false">
                        <div class="card-body">
                          <h5 class="card-title fw-bold">My Mat Space (Web App)</h5>
                          <p class="card-text">Provides the solution and suggests the <span class="red fw-bold">Yogas</span> to them who have any problem such as Digestion, Depression, etc.</p>
                          <a href="https://github.com/Sarajuddin/My_Mat_Space" target="_blank" class="btn btn-sm btn-outline-danger">Source Code <i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3 ">
                    <div class="card border-0">
                        <img src="https://i.pinimg.com/originals/7f/eb/22/7feb2293997291d6e170776caf866dd1.gif" class="card-img-top" loading="lazy" draggable="false" >
                        <div class="card-body">
                          <h5 class="card-title fw-bold">Attendance Management</h5>
                          <p class="card-text">This is a GUI based application. In this app, faculties can store the students record on daily basis.</p>
                          <a href="https://github.com/Sarajuddin/Attendance-Management-System" target="_blank" class="btn btn-sm btn-outline-danger">Source Code <i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3 ">
                    <div class="card border-0">
                        <img src="https://cdn.dribbble.com/users/2049840/screenshots/6615632/lamp-animation.gif" class="card-img-top" loading="lazy" draggable="false">
                        <div class="card-body">
                          <h5 class="card-title fw-bold">Guess the Number</h5>
                          <p class="card-text">It is a console based gaming app. A user can play the game, can check last record, and high score.</p>
                          <a href="https://github.com/Sarajuddin/Guess-the-Number" target="_blank" class="btn btn-sm btn-outline-danger">Source Code <i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Project Section Ends -->

    <!-- Contact Section Starts -->
    <section class="contact py-5" id="contact">
        <div class="container text-white">
            <div class="contact-head text-center pt-3">
                <h2 class="fw-bold"><i class="fa-solid fa-address-book"></i> Contact <span class="red">Me</span></h2>
            </div>

            <div class="row">
                <div class="col-md-6 contact-img">
                    <!-- <img src="https://officialsaurabhphotography.com/img/contact.gif" width="100%"> -->
                    <img src="/static/images/animation_500_lji8xa86.gif" width="100%" loading="lazy" draggable="false">
                </div>
                <div class="col-md-6 my-3 pt-md-5">
                    <form class="py-3" method="post" action="/">
                        {% csrf_token %}

                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}

                        <div class="input-group mb-3">
                            <div class="input-grout-prepend">
                                <span class="input-group-text h-100 ">
                                    <i class="fa-solid fa-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control " placeholder="Name" name="name" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-grout-prepend">
                                <span class="input-group-text h-100 ">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                            </div>
                            <input type="email" class="form-control " placeholder="Email" name="email" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-grout-prepend">
                                <span class="input-group-text h-100 ">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                            </div>
                            <input type="tel" class="form-control " placeholder="Phone" name="phone" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-grout-prepend">
                                <span class="input-group-text h-100 ">
                                    <i class="fa-solid fa-user align-self-start"></i>
                                </span>
                            </div>
                            <textarea cols="30" rows="5" class="form-control " placeholder="Message" name="message" required></textarea>
                        </div>
                        <input type="submit" value="Submit" class="form-control btn btn-outline-success">
                    </form>
                </div>
            </div>

            <!-- Data Form
            <div class="">
                <form>
                    <label for="">Time : </label>
                    <input type="text" class="form-control" id="time">
                    <label for="">IP Address : </label>
                    <input type="text" class="form-control" id="ip">
                    <label for="">Device Name : </label>
                    <input type="text" class="form-control" id="deviceName">
                    <label for="">Location : </label>
                    <input type="text" class="form-control" id="location">
                    <label for="">Battery Status : </label>
                    <input type="text" class="form-control" id="battery">
                </form>
            </div> -->
        </div>
    </section>
    <!-- Contact Section Ends -->

    <!-- Footer Section Starts -->
    <footer class="footer bg-dark" id="footer">
        <div class="container py-3 text-white">
            <div class="row">
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <div>
                        <ul class="list-unstyled">
                            <li class="footer-links">
                                <a href="#about">
                                    <i class="fa-solid fa-address-card"></i> About
                                </a>
                            </li>
                            <li class="footer-links">
                                <a href="#education">
                                    <i class="fa-solid fa-school"></i> Education
                                </a>
                            </li>
                            <li class="footer-links">
                                <a href="#skills">
                                    <i class="fa-solid fa-code"></i> Skills
                                </a>
                            </li>
                            <li class="footer-links">
                                <a href="#projects">
                                    <i class="fa-solid fa-diagram-project"></i> Projects
                                </a>
                            </li>
                            <li class="footer-links">
                                <a href="#contact">
                                    <i class="fa-solid fa-phone"></i> Contact
                                </a>
                            </li>
                
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <h5>Location</h5>
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55627.40010384633!2d78.09823960365473!3d29.378705962307123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390bee6a893390f9%3A0x9bbd471db27ea08f!2sBijnor%2C%20Uttar%20Pradesh%20246701!5e0!3m2!1sen!2sin!4v1688111708911!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        
            <div class="text-white text-center pt-4 mt-4">
                <p>
                    <i class="fa-solid fa-hourglass-start fa-spin-pulse"></i>&nbsp;&nbsp;Made by <span class="red fw-bold">Sarajuddin <i class="fa-brands fa-kickstarter-k" title="Kasgar"></i></span>
                </p>
            </div>            
        </div>

    </footer>
    <!-- Footer Section ends -->

    <!-- Jquery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <!-- typed.js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js" integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Platform JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.6/platform.min.js" integrity="sha512-eYPrm8TgYWg3aa6tvSRZjN4v0Z9Qx69q3RhfSj+Mf89QqwOMqmwSlsVqfp4N8NVAcZe/YeUhh9x/nM2CAOp6cA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Custom Script -->
    <script src="/static/js/script.js"></script>
</body>
</html>